<section class="about-me-section">
  <div class="container">
    <div class="about-me-flex-box-1">
      <div class="about-me-text-box">
        <p class="about-me-text">
          I work with people all over the world to create impressive and
          <span class="about-me-text-span-1">functional</span>
          <span class="about-me-text-span-2">websites</span> that reflect each
          client's unique personality.
        </p>
      </div>
      <picture>
        <source
          srcset="
            /img/about-me-img/about-me-desktop.webp    1x,
            /img/about-me-img/about-me-desktop@2x.webp 2x
          "
          media="(min-width:
                1440px)"
        />

        <source
          srcset="
            /img/about-me-img/about-me-tablet.webp    1x,
            /img/about-me-img/about-me-tablet@2x.webp 2x
          "
          media="(min-width:768px)"
        />

        <source
          srcset="
            /img/about-me-img/about-me-mobile.webp    1x,
            /img/about-me-img/about-me-mobile@2x.webp 2x
          "
          media="(max-width:767px)"
        />
        <img
          src="/img/about-me-img/about-me-tablet.webp"
          alt="Lloyd Jefferson"
        />
      </picture>
    </div>
  </div>
</section>
