<section class="benefits-section" id="benefits">
  <div class="container">
    <h2 class="benefits-section-heading">benefits working with me</h2>
    <ul class="benefits-list">
      <li class="benefits-list-item">
        <svg class="benefits-icon" width="48" height="48">
          <use href="/img/icons/icons.svg#icon-expertise"></use>
        </svg>
        <p class="benefits-list-big-text">Expertise</p>
        <p class="benefits-list-small-text">
          As a highly experienced developer, I have deep knowledge of
          programming and website development.
        </p>
      </li>
      <li class="benefits-list-item">
        <svg class="benefits-icon" width="48" height="48">
          <use href="/img/icons/icons.svg#icon-comunication"></use>
        </svg>
        <p class="benefits-list-big-text">Communication</p>
        <p class="benefits-list-small-text">
          Understanding your needs and wants is my priority and I am always open
          to discussions and corrections.
        </p>
      </li>
      <li class="benefits-list-item">
        <svg class="benefits-icon" width="48" height="48">
          <use href="/img/icons/icons.svg#icon-art"></use>
        </svg>
        <p class="benefits-list-big-text">Art</p>
        <p class="benefits-list-small-text">
          Thanks to my creative nature, I am ready to accept challenges and help
          you bring your ideas to life.
        </p>
      </li>
      <li class="benefits-list-item">
        <svg class="benefits-icon" width="48" height="48">
          <use href="/img/icons/icons.svg#icon-urgent-execution"></use>
        </svg>
        <p class="benefits-list-big-text">Urgent execution</p>
        <p class="benefits-list-small-text">
          I understand how important time is to you. Ready to work quickly and
          efficiently, without reducing the quality of work.
        </p>
      </li>
    </ul>
    <button class="benefits-list-btn" type="button">Order the project</button>
  </div>
</section>
