<section class="hero-section" id="hero">
  <div class="container">
    <h1 class="hero-heading">
      Hello.<br />
      I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <ul class="hero-social-networks-list">
      <li>
        <a
          class="hero-social-networks-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rell="noopener
          noreferrer"
          >ig</a
        >
      </li>
      <li>
        <a
          class="hero-social-networks-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rell="noopener
          noreferrer"
          >fb</a
        >
      </li>
      <li>
        <a
          class="hero-social-networks-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rell="noopener
          noreferrer"
          >yt</a
        >
      </li>
      <li>
        <a
          class="hero-social-networks-link"
          href="https://github.com/EugeneLevkovych/portfolio-js-team-9"
          target="_blank"
          rell="noopener
          noreferrer"
        >
          gh</a
        >
      </li>
      <li>
        <address class="hero-email">
          <a
            class="hero-social-networks-link"
            class="hero-email-link"
            href="mailto:lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </address>
      </li>
    </ul>
  </div>
</section>
