<section class="projects-section" id="ptojects">
  <div class="container">
    <h2 class="projects-heading sections-headings">Projects</h2>
    <div class="swiper swiper-2">
      <ul class="swiper-wrapper projects-list">
        <li class="swiper-slide projects-list-item">Slide 1</li>
        <li class="swiper-slide projects-list-item">Slide 2</li>
        <li class="swiper-slide projects-list-item">Slide 3</li>
      </ul>
    </div>
    <div class="projects-arrow-box">
      <svg class="projects-arrow-icon-left arrow-icon" width="25" height="25">
        <use href="/img/icons/icons.svg#icon-arrow-left"></use>
      </svg>
      <svg class="projects-arrow-icon-right arrow-icon" width="25" height="25">
        <use href="/img/icons/icons.svg#icon-arrow-right"></use>
      </svg>
    </div>
  </div>
</section>
