<section class="projects-section" id="ptojects">
  <div class="container">
    <h2 class="projects-heading sections-headings">Projects</h2>
    <div class="swiper swiper-2">
      <ul class="swiper-wrapper projects-list">
        <li class="swiper-slide projects-list-item">
          <div class="projects-l-i-content-box">
            <p class="projects-l-i-content-box-skills">#react</p>
            <p class="projects-l-i-content-box-skills">#js</p>
            <p class="projects-l-i-content-box-skills">#node js</p>
            <p class="projects-l-i-content-box-skills">#git</p>
            <p class="projects-l-i-content-box-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="projects-l-i-content-btn"
              href="https://github.com/michu2k/Accordion"
              target="_blank"
              >See projects</a
            >
          </div>
          <div class="projects-l-i-img-box">
            <picture>
              <source
                srcset="
                  /img/projects-img/projects-1-tablet.webp    1x,
                  /img/projects-img/projects-1-tablet@2x.webp 2x
                "
                media="(min-width:768px)"
              />

              <source
                srcset="
                  /img/projects-img/projects-1-mob.webp    1x,
                  /img/projects-img/projects-1-mob@2x.webp 2x
                "
                media="(max-width:767px)"
              />
              <img
                src="/img/projects-img/projects-1-mob.webp"
                alt="Project 1"
              />
            </picture>
          </div>
        </li>
        <li class="swiper-slide projects-list-item">
          <div class="projects-l-i-content-box">
            <p class="projects-l-i-content-box-skills">#react</p>
            <p class="projects-l-i-content-box-skills">#js</p>
            <p class="projects-l-i-content-box-skills">#node js</p>
            <p class="projects-l-i-content-box-skills">#git</p>
            <p class="projects-l-i-content-box-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="projects-l-i-content-btn"
              href="https://github.com/michu2k/Accordion"
              target="_blank"
              >See projects</a
            >
          </div>
          <div class="projects-l-i-img-box">
            <picture>
              <source
                srcset="
                  /img/projects-img/projects-2-tablet.webp    1x,
                  /img/projects-img/projects-2-tablet@2x.webp 2x
                "
                media="(min-width:768px)"
              />

              <source
                srcset="
                  /img/projects-img/projects-2-mob.webp    1x,
                  /img/projects-img/projects-2-mob@2x.webp 2x
                "
                media="(max-width:767px)"
              />
              <img
                src="/img/projects-img/projects-1-mob.webp"
                alt="Project 2"
              />
            </picture>
          </div>
        </li>
        <li class="swiper-slide projects-list-item">
          <div class="projects-l-i-content-box">
            <p class="projects-l-i-content-box-skills">#react</p>
            <p class="projects-l-i-content-box-skills">#js</p>
            <p class="projects-l-i-content-box-skills">#node js</p>
            <p class="projects-l-i-content-box-skills">#git</p>
            <p class="projects-l-i-content-box-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="projects-l-i-content-btn"
              href="https://github.com/michu2k/Accordion"
              target="_blank"
              >See projects</a
            >
          </div>
          <div class="projects-l-i-img-box">
            <picture>
              <source
                srcset="
                  /img/projects-img/projects-3-tablet.webp    1x,
                  /img/projects-img/projects-3-tablet@2x.webp 2x
                "
                media="(min-width:768px)"
              />

              <source
                srcset="
                  /img/projects-img/projects-3-mob.webp    1x,
                  /img/projects-img/projects-3-mob@2x.webp 2x
                "
                media="(max-width:767px)"
              />
              <img
                src="/img/projects-img/projects-3-mob.webp"
                alt="Project 3"
              />
            </picture>
          </div>
        </li>
      </ul>
    </div>
    <div class="projects-arrow-box">
      <svg class="projects-arrow-icon-left arrow-icon" width="25" height="25">
        <use href="/img/icons/icons.svg#icon-arrow-left"></use>
      </svg>
      <svg class="projects-arrow-icon-right arrow-icon" width="25" height="25">
        <use href="/img/icons/icons.svg#icon-arrow-right"></use>
      </svg>
    </div>
  </div>
</section>
