.about-me-flex-box-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 12px;
}
.about-me-text-box {
  height: 500px;
  padding: 32px;
  background-color: #242527;
  border-radius: 24px;
}

.about-me-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.about-me-text-span-1 {
  color: #ed3b44;
}

.about-me-text-span-2 {
  color: rgba(250, 250, 250, 0.4);
}

/* Tablet*/
@media screen and (min-width: 768px) {
  .about-me-flex-box-1 {
    margin-bottom: 32px;
  }

  .about-me-text-box {
    padding: 64px;
    height: 700px;
  }

  .about-me-text {
    font-size: 38px;
    line-height: 1.05;
  }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
  .about-me-flex-box-1 {
    gap: 16px;
    margin-bottom: 64px;
  }

  .about-me-text-box {
    width: 680px;
  }
}
/* --------------Acordion--------------- */
.a-m-ac-container {
  margin-bottom: 32px;
}

.ac.a-m-ac-list-item {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #42454b;
  margin-bottom: 0;
}

.ac-header .ac-trigger.a-m-ac-button {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #1c1d20;
  color: rgba(250, 250, 250, 0.4);
  padding: 20px 0 32px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  outline: none;
}

.ac-trigger.a-m-ac-button::after {
  content: '';
  /* display: none; */
  z-index: -1;
 
}

.ac.is-active .a-m-ac-arrow-icon {
  transform: rotate(180deg);
}

.a-m-ac-arrow-icon {
  stroke: #fafafa;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 9px;
  width: 36px;
  height: 36px;
  transition: transform 0.5s ease-out;
}

.a-m-ac-panel {
  background-color: #1c1d20;
}

.a-m-ac-panel-text {
  color: #fafafa;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

/* Tablet*/
@media screen and (min-width: 768px) {
  .a-m-ac-container {
    margin-bottom: 64px;
  }

  .ac-header .ac-trigger.a-m-ac-button {
    padding: 32px 0 32px;
  }

  .a-m-ac-panel-text {
    margin-bottom: 16px;
  }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
  .a-m-ac-container {
    margin-bottom: 96px;
  }

  .a-m-ac-panel {
    padding-left: 696px;
  }

  .a-m-ac-panel-text {
    margin-bottom: 10px;
  }
}

/* ------------------Swiper------------------------ */
.swiper-flex-wrapper {
  display: flex;
  margin-bottom: 64px;
}

.a-m-sw-list-item {
  flex-shrink: 0;
  padding: 53px 0;
  border-radius: 50%;
  border: 1px solid;
  border-color: rgba(250, 250, 250, 0.4);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.a-m-sw-list-item.swiper-slide-active {
  background-color: #ed3b44;
}

.a-m-swiper-button {
  background-color: #1c1d20;
  border: none;
  padding: 20px 0 20px 55px;
  margin-top: auto;
  margin-bottom: auto;
}

.a-m-sw-arrow-icon {
  stroke: #3b3b3b;
  fill: none;
}

.a-m-sw-arrow-icon:active {
  stroke: #ed3b44;
}

/* Tablet*/
@media screen and (min-width: 768px) {
  .swiper-flex-wrapper {
    margin-bottom: 96px;
  }

  .a-m-sw-list-item {
    padding: 88px 0;
    font-size: 20px;
  }

  .a-m-swiper-button {
    padding: 20px 0 20px 64px;
  }

  .a-m-sw-arrow-icon {
    height: 40px;
    width: 40px;
  }
}
/* Desktop */
@media only screen and (min-width: 1440px) {
  .swiper-flex-wrapper {
    margin-bottom: 164px;
  }

  .a-m-swiper-button {
    padding: 20px 32px 20px 72px;
  }
}
