.hero-section {
  padding-top: 281px;
  padding-bottom: 32px;
  background-color: inherit;
  background-image: url(/img/hero-img/hero-bg-mobile.phg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 64px;
}

.hero-heading-box {
  margin-bottom: 212px;
}

.hero-heading {
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.hero-social-networks-list {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  justify-content: center;
}

.hero-social-networks-list-item {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 8px 9px;
  height: 37px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  text-align: center;
}

.hero-social-networks-list-item:not(:last-child) {
  width: 37px;
}
@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: url(/img/hero-img/hero-bg-mobile@2x.png);
  }
}
/* Tablet*/
@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 300px;
    background-image: url(/img/hero-img/hero-bg-tablet.png);
  }

  .hero-heading-box {
    width: 632px;
    margin-bottom: 187px;
  }

  .hero-heading {
    font-size: 90px;
  }

  .hero-social-networks-list {
    gap: 8px;
    justify-content: flex-end;
  }

  .hero-social-networks-list-item {
    height: 55px;
    font-size: 16px;
    padding: 16px 18px;
  }

  .hero-social-networks-list-item:not(:last-child) {
    width: 37px;
    width: 55px;
  }
  @media (min-resolution: 192dpi) {
    .hero-section {
      background-image: url(/img/hero-img/hero-bg-tablet@2x.png);
    }
  }
}
/* Desktop */
@media only screen and (min-width: 1440px) {
  .hero-section {
    height: 900px;
    padding-top: 188px;
    background-image: url(/img/hero-img/hero-bg-desktop.png);
    background-position: left;
    background-size: 50%;
    margin-bottom: 96px;
  }

  .hero-heading-box {
    width: 1084px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 243px;
  }

  @media (min-resolution: 192dpi) {
    .hero-section {
      background-image: url(/img/hero-img/hero-bg-desktop@2x.png);
    }
  }
}
