.projects-section {
  margin-bottom: 64px;
}

.projects-heading {
  margin-bottom: 32px;
}

.projects-arrow-box {
  display: flex;
  gap: 12px;
  justify-content: center;
}
/* Tablet*/
@media screen and (min-width: 768px) {
  .projects-section {
    margin-bottom: 96px;
  }
  .projects-arrow-box {
    gap: 20px;
  }
}
/* Desktop */
@media only screen and (min-width: 1440px) {
  .projects-section {
    margin-bottom: 164px;
  }
}
